/* CSS Document */
#wrapper {
width: 1024px;	
height: 2000px;
background-color:#BFBFBF;
margin: 0 auto 0 auto;
}

#top {
	padding:20px;
	margin-left: 60px;
	margin-right: 400px;	
}

h1 {
	font:40px arial;
}

#socialmedia {
	width: 100px;
	height: 150px;
	float:right;
	margin-top:-160px;
}

#socialmedia li {
	display:inline;
	list-style-type:none;

}

#navigation {
	margin: 0 auto 0 auto;
}

#navigation li {
	font:24px Arial;
	display:inline;
	list-style-type:none;
}

#navigation a {
	width: 1025px;
	padding: 0px 72px;
	background-color:#686868;
	color:#01B4FF;
	text-decoration:none;
}

#navigation a:hover {
	background-color:#000000;
}

#content {
	width: 940px;	
	height: 1740px;
	margin: 0 auto 0 auto;
}

body {
	background-color:#37596A
}


/* CSS Document */

